/* reset.css */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Remove default padding */
ul,
ol {
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A better looking default horizontal rule */
hr {
    size: 1px;
    border: none;
    background-color: #333;
    height: 1px;
    margin: 1em 0;
}
