nav ul li a {
    text-decoration: none;
}

.managerViewGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    height: auto;
}

#employeesList {
    height: 80%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.userInfosGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dashboardItems,
.expItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.dashboardItems:hover,
.expItems:hover {
    background-color: rgba(142, 141, 141, 0.205);
    border-radius: 10px;
}

.userInfosInsuranceCards,
.userInfosIdCards,
.userInfosDiplomaCards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userInfosInsuranceCard,
.userInfosIdCard,
.userInfosDiplomaCard {
    display: flex;
    flex-direction: column;
}

.userInfosInsuranceCard img,
.userInfosIdCard img,
.userInfosDiplomaCard img {
    width: 200px;
    height: 150px;
}

.schoolsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.userInfosSchool1 {
    grid-column: 1 / 2;
}

.userInfosSchool2 {
    grid-column: 2 / 3;
}

.school1 {
    grid-column: 1 / 2;
}

.school2 {
    grid-column: 2 / 3;
}

.school3 {
    grid-column: 3 / 4;
}

.schoolButtons {
    grid-column: 2 / 3;
}