main {
    margin: 0 auto;
}

ul {
    padding-left: 0rem !important;
}

nav ul li {
    border-radius  : 10px;
    padding        : 10px;
    transition     : all 0.2s ease-in-out;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin         : 0 auto;
}

nav ul li:hover {
    background: #f5f5f5;
    transition: all 0.2s ease-in-out;
}

#employeesList {
    height         : 80%;
    overflow-y     : scroll;
    scrollbar-width: thin;
}

.dashboardItems,
.expItems {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 5px;
    border-radius  : 10px;
}

.dashboardItems:hover,
.expItems:hover {
    background-color: rgba(142, 141, 141, 0.205);
    border-radius   : 10px;
}

.userInfosInsuranceCards,
.userInfosIdCards,
.userInfosDiplomaCards {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
}

.userInfosInsuranceCard,
.userInfosIdCard,
.userInfosDiplomaCard {
    display       : flex;
    flex-direction: column;
}

.userInfosInsuranceCard img,
.userInfosIdCard img,
.userInfosDiplomaCard img {
    width : 200px;
    height: 150px;
}

.userExpGrid {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap             : 10px;
}

.expFirstItem {
    grid-column: 1 / 2;
}

.expSecondItem {
    grid-column: 2 / 3;
}

.expThirdItem {
    grid-column: 3 / 4;
}


@media all and (max-width: 450px) {
    nav ul p {
        display: none;
    };
};