body.dark-mode {
  background-color: #212529 !important;
  color: #fff !important;
}

main {
    margin: 0 auto;
}

ul {
    padding-left: 0rem !important;
}

nav ul li {
    border-radius  : 10px;
    padding        : 10px;
    transition     : all 0.2s ease-in-out;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin         : 0 auto;
}

nav ul li:hover {
    background: #f5f5f5;
    transition: all 0.2s ease-in-out;
}

#employeesList {
    height         : 80%;
    overflow-y     : scroll;
    scrollbar-width: thin;
}

.dashboardItems,
.expItems {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 5px;
    border-radius  : 10px;
}

.dashboardItems:hover,
.expItems:hover {
    background-color: #8e8d8d34;
    border-radius   : 10px;
}

.userInfosInsuranceCards,
.userInfosIdCards,
.userInfosDiplomaCards {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
}

.userInfosInsuranceCard,
.userInfosIdCard,
.userInfosDiplomaCard {
    display       : flex;
    flex-direction: column;
}

.userInfosInsuranceCard img,
.userInfosIdCard img,
.userInfosDiplomaCard img {
    max-width : 200px;
    max-height: 150px;
}

.userExpGrid {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap             : 10px;
}

.expFirstItem {
    grid-column: 1 / 2;
}

.expSecondItem {
    grid-column: 2 / 3;
}

.expThirdItem {
    grid-column: 3 / 4;
}


@media all and (max-width: 450px) {
    nav ul p {
        display: none;
    };
};




/* MODE SOMBRE. */

/* Styles pour le mode clair (par défaut) */
.switch {
  width: 40px;
  height: 20px;
  display: block;
  margin: auto;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    width: 40px;  /* Ajouté */
    height: 20px; /* Ajouté */
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;  /* Modifié */
    width: 14px;   /* Modifié */
    left: 3px;     /* Modifié */
    bottom: 3px;   /* Modifié */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(105, 2, 2);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(105, 2, 2);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);  /* Modifié */
    -ms-transform: translateX(20px);      /* Modifié */
    transform: translateX(20px);          /* Modifié */
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }